# Default ignored files
/shelf/
/test
/workspace.xml
.idea
.vscode
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Created by pytest automatically.
__pycache__
result
report
.pytest_cache
.ossutil_checkpoint
venv
.venv
*.pyc
*.log
tmp
# except for .gitkeep
!.gitkeep
nohup.out
/backup/dingTalkRobot_src.py
builds
build.env
rcc_thing_model_json

only_for_myself.py
only_shell_myself.sh
/testdata/files/task_report_image.png
/database/current_task_flows.yaml
/database/fail_task_flows.yaml
/database/current_init_data.yaml
/ota/runtime.yaml
flows_result.txt
report_id.txt
ci_data.yaml
robot_grid.yaml

test_data
*monitor.csv

simulator_params
robot_params
output/

my_demo
